@media (prefers-color-scheme: light) {
    .visible {
        color: black;
    }

    .blurred {
        color: transparent;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .accordion-body {
        color: black;
    }

    .accordion button {
        background-color: rgba(160, 160, 170, 0.2);
    }
}

@media (prefers-color-scheme: dark) {
    .visible {
        color: white;
    }

    .blurred {
        color: transparent;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    .accordion-body {
        color: #e1e1e1;
    }

    .accordion button {
        background-color: rgba(255, 255, 240, 0.2);
    }
}